body {
    background-color: rgb(29, 29, 29);
}

p, ul {
    color: white;
}
.topo1 {
    background-color: #00B4D8;
    color: #CAF0F8;
  }

  h4 {
    color: #00B4D8;
  }

  img {
    border-radius: 300px
    
  }

  a {
      color: yellow;
  }

  a:hover {
      background-color: #00B4D8;
      color: black;
  }